<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="location">
        <h2 class="jh-entity-heading" data-cy="locationDetailsHeading"><span>Location</span> {{ location.id }}</h2>
        <dl class="row jh-entity-details">
          <dt>
            <span>Url</span>
          </dt>
          <dd>
            <span>{{ location.url }}</span>
          </dd>
          <dt>
            <span>Env</span>
          </dt>
          <dd>
            <span>{{ location.env }}</span>
          </dd>
          <dt>
            <span>Site</span>
          </dt>
          <dd>
            <div v-if="location.site">
              <router-link :to="{ name: 'SiteView', params: { siteId: location.site.id } }">{{ location.site.id }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
        </button>
        <router-link v-if="location.id" :to="{ name: 'LocationEdit', params: { locationId: location.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./location-details.component.ts"></script>
