<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2 id="sitesvueApp.location.home.createOrEditLabel" data-cy="LocationCreateUpdateHeading">Create or edit a Location</h2>
        <div>
          <div class="form-group" v-if="location.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="location.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" for="location-url">Url</label>
            <input
              type="text"
              class="form-control"
              name="url"
              id="location-url"
              data-cy="url"
              :class="{ valid: !$v.location.url.$invalid, invalid: $v.location.url.$invalid }"
              v-model="$v.location.url.$model"
              required
            />
            <div v-if="$v.location.url.$anyDirty && $v.location.url.$invalid">
              <small class="form-text text-danger" v-if="!$v.location.url.required"> This field is required. </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="location-env">Env</label>
            <select
              class="form-control"
              name="env"
              :class="{ valid: !$v.location.env.$invalid, invalid: $v.location.env.$invalid }"
              v-model="$v.location.env.$model"
              id="location-env"
              data-cy="env"
              required
            >
              <option value="DEVELOPMENT">DEVELOPMENT</option>
              <option value="STAGING">STAGING</option>
              <option value="PRODUCTION">PRODUCTION</option>
              <option value="INTERNAL">INTERNAL</option>
            </select>
            <div v-if="$v.location.env.$anyDirty && $v.location.env.$invalid">
              <small class="form-text text-danger" v-if="!$v.location.env.required"> This field is required. </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="location-site">Site</label>
            <select class="form-control" id="location-site" data-cy="site" name="site" v-model="location.site">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="location.site && siteOption.id === location.site.id ? location.site : siteOption"
                v-for="siteOption in sites"
                :key="siteOption.id"
              >
                {{ siteOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.location.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./location-update.component.ts"></script>
