<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="site">
        <h2 class="jh-entity-heading" data-cy="siteDetailsHeading"><span>Site</span> {{ site.id }}</h2>
        <dl class="row jh-entity-details">
          <dt>
            <span>Name</span>
          </dt>
          <dd>
            <span>{{ site.name }}</span>
          </dd>
          <dt>
            <span>App</span>
          </dt>
          <dd>
            <span>{{ site.app }}</span>
          </dd>
          <dt>
            <span>Tag</span>
          </dt>
          <dd>
            <span v-for="(tag, i) in site.tags" :key="tag.id"
              >{{ i > 0 ? ', ' : '' }}
              <router-link :to="{ name: 'TagView', params: { tagId: tag.id } }">{{ tag.value }}</router-link>
            </span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span> Back</span>
        </button>
        <router-link v-if="site.id" :to="{ name: 'SiteEdit', params: { siteId: site.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./site-details.component.ts"></script>
