<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2 id="sitesvueApp.site.home.createOrEditLabel" data-cy="SiteCreateUpdateHeading">Create or edit a Site</h2>
        <div>
          <div class="form-group" v-if="site.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="site.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" for="site-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="site-name"
              data-cy="name"
              :class="{ valid: !$v.site.name.$invalid, invalid: $v.site.name.$invalid }"
              v-model="$v.site.name.$model"
              required
            />
            <div v-if="$v.site.name.$anyDirty && $v.site.name.$invalid">
              <small class="form-text text-danger" v-if="!$v.site.name.required"> This field is required. </small>
              <small class="form-text text-danger" v-if="!$v.site.name.maxLength"> This field cannot be longer than 200 characters. </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" for="site-app">App</label>
            <select
              class="form-control"
              name="app"
              :class="{ valid: !$v.site.app.$invalid, invalid: $v.site.app.$invalid }"
              v-model="$v.site.app.$model"
              id="site-app"
              data-cy="app"
            >
              <option value="COMMERCE">COMMERCE</option>
              <option value="SOURCING">SOURCING</option>
              <option value="PAY_APP">PAY_APP</option>
              <option value="CAMPAIGN_MANAGER">CAMPAIGN_MANAGER</option>
              <option value="EQ_COMMERCE">EQ_COMMERCE</option>
              <option value="Q_NET">Q_NET</option>
              <option value="KS_COMMERCE">KS_COMMERCE</option>
              <option value="INTERNAL">INTERNAL</option>
            </select>
          </div>
          <div class="form-group">
            <label for="site-tag">Tag</label>
            <select class="form-control" id="site-tag" data-cy="tag" multiple name="tag" v-if="site.tags !== undefined" v-model="site.tags">
              <option v-bind:value="getSelected(site.tags, tagOption)" v-for="tagOption in tags" :key="tagOption.id">
                {{ tagOption.value }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.site.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./site-update.component.ts"></script>
