<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2 id="sitesvueApp.tag.home.createOrEditLabel" data-cy="TagCreateUpdateHeading">Create or edit a Tag</h2>
        <div>
          <div class="form-group" v-if="tag.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="tag.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" for="tag-value">Value</label>
            <input
              type="text"
              class="form-control"
              name="value"
              id="tag-value"
              data-cy="value"
              :class="{ valid: !$v.tag.value.$invalid, invalid: $v.tag.value.$invalid }"
              v-model="$v.tag.value.$model"
              required
            />
            <div v-if="$v.tag.value.$anyDirty && $v.tag.value.$invalid">
              <small class="form-text text-danger" v-if="!$v.tag.value.required"> This field is required. </small>
              <small class="form-text text-danger" v-if="!$v.tag.value.maxLength"> This field cannot be longer than 200 characters. </small>
            </div>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span>Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.tag.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span>Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./tag-update.component.ts"></script>
